<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="beroepsproduct.dion.test.com.beroepsproduct">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginScherm"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VerzekeringOverzicht"
            android:label="@string/title_activity_verzekering_overzicht"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AfspraakMaken"
            android:label="@string/title_activity_afspraak_maken"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateNew"
            android:label="@string/title_activity_create_new"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
